<!--
  Generated template for the GroupAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ label }}
        </ion-title>
        
        <ion-buttons end>
            <button (click)="dismiss()" ion-button icon-only clear>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content text-center>
   <ion-row>
        <ion-col>
            <div class="box" *ngIf="photo!=''">
                <img class="photo" src="{{ gphoto }}">
            </div>
          </ion-col>
    </ion-row>
    <ion-row text-center>
        <ion-col>
            <button (click)="openGallery()" ion-button icon-left round large clear>
                <ion-icon name="image"></ion-icon>
            </button> 
        </ion-col>
        <ion-col>
            <button (click)="openCamera()" ion-button icon-left round large clear>
                <ion-icon name="camera"></ion-icon>
            </button> 
        </ion-col>
    </ion-row>

      <ion-row>
        <ion-col>
          <div class="name-label">Group Name</div>
          <ion-input class="detail" [(ngModel)]="gname" type="text"></ion-input>
        </ion-col>  
      </ion-row>

      <ion-row text-justify>
        <ion-col>
          <div class="detail-label">Description</div>
          <ion-textarea class="detail" [(ngModel)]="gdescr" type="text"></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label stacked><b>Tags</b></ion-label>
        <ion-input (ionFocus)="inputLocationToggle($group, 'false')" [(ngModel)]="temp" type="text"></ion-input>
        <button (click)="addTag()" ion-button item-end outline>
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-item>
    <div>
        <span *ngFor="let tags of Tags | async">
            <ion-chip color="primary">
                <ion-label>{{ tags.tags }}</ion-label>
                <button ion-button clear color="light" (click)="deleteTag(tags.$key)">
                    <ion-icon name="close-circle"></ion-icon>
                </button>
            </ion-chip>
        </span>
    </div>
    <div *ngIf="this.label != 'Add Tapok'">
        <span *ngFor="let tags of curTags | async">
            <ion-chip *ngIf="tags.key == event_key" color="primary">
                <ion-label>{{ tags.tag }}</ion-label>
                <button ion-button clear color="light" (click)="deleteCurrentTag(tags.$key)">
                    <ion-icon name="close-circle"></ion-icon>
                </button>
            </ion-chip>
        </span>
    </div>

      <ion-row class="buttons" text-center>
            <ion-col *ngIf="label == 'Add Group'">
                <button class="tapok-button" (click)="addGroup()" ion-button large>{{ label }}</button>
            </ion-col>
            <ion-col *ngIf="label == 'Edit Group'">
                <button class="tapok-button" (click)="editGroup()" ion-button large>{{ label }}</button>
            </ion-col>
            <ion-col>
                <button class="tapok-button" (click)="cancel()" ion-button outline large>Cancel</button>
            </ion-col>
        </ion-row>
</ion-content>
