<ion-header>
  <ion-navbar *ngIf="toggled" no-border-bottom>
    <ion-searchbar animated>
    </ion-searchbar>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-buttons end>
      <button *ngIf="!toggled" (click)="toggleSearch()" ion-button icon-only clear>
        <ion-icon name="search"></ion-icon>
      </button>
      <button *ngIf="toggled" (click)="toggleSearch()" ion-button icon-only clear>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-segment [(ngModel)]="pages"> 
      <ion-segment-button value = "list">
        List
      </ion-segment-button>
      <ion-segment-button value="map">
        Map
      </ion-segment-button>
    </ion-segment>
    <ion-buttons end>
      <button class="filter-button" ion-button (click)="showFilterPopOver()" small clear>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content>
  <div [ngSwitch]="pages">
    <ion-list *ngSwitchCase="'list'">
      <ion-card (click)="openKuyogContent()" *ngFor="let event of Event | async">
        <ion-card-header>
          <ion-icon name="trophy"></ion-icon>
            {{ event.title }}
          <ion-icon class="people-icon" name="people"> 5</ion-icon>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <p><ion-icon name="pin"></ion-icon>  {{ event.place }}</p><br>
            <p><ion-icon name="time"></ion-icon>  {{ event.date }}</p><br>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
<!--<ion-card>
        <ion-card-header>
          <ion-icon name="beer"></ion-icon>
            DRINK WITH US
          <ion-icon class="people-icon" name="people"> 5</ion-icon>
        </ion-card-header>
        
        <ion-card-content>
          <ion-item>
            <p><ion-icon name="pin"></ion-icon>  Hayahay</p><br>
            <p><ion-icon name="time"></ion-icon>  10:00PM</p>
          </ion-item>
        </ion-card-content>
      </ion-card>-->
    

  <ion-fab bottom right>
    <button ion-fab (click)="openAddKuyog()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

