<ion-header>
  <ion-navbar hide-on-scroll="true" no-border-bottom>  
    <ion-title text-center>
      <div class="nav-title">Tapok</div>
    </ion-title>

    <ion-buttons right>
        <button (click)="openSearch()" ion-button icon-only round clear>
          <ion-icon class="search-icon" name="search"></ion-icon>
        </button>
    </ion-buttons> 

    <ion-buttons left>
        <button (click)="showFilterPopOver()" ion-button icon-only round clear>
          <ion-icon class="search-icon" name="eye"></ion-icon>
        </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>  

<ion-content class="background" fullscreen>
  <div [ngSwitch]="pages">
    <ion-list *ngSwitchCase="'list'">
      <div *ngFor="let event of Event | async; let i = index;">
        <div *ngIf="status[i] == 'TAPOK'">
          <ion-card text-center>
            <ion-item>
              <ion-avatar item-start>
                <img class="user-avatar" src="assets/img/user.png">
              </ion-avatar>
              <ion-label>
                <h2><strong>{{ event.host }}</strong></h2>
              </ion-label>
            </ion-item>
            <ion-row *ngIf="event.photo != ''">
              <ion-col (click)="viewPic(event.photo)">
              <!--<ion-col (click)="toggle(event.$key, event.toggle)">
                <div *ngIf="event.toggle == 'false'">
                    see photo
                </div>
                <div *ngIf="event.toggle == 'true'">-->
                  <div class="box" text-center>
                    <img class="photo" src="{{ event.photo }}">
                  </div>
                  <!--<br>hide photo
                </div>-->
              </ion-col>
            </ion-row>
            <div (click)="openTapokContent(event)">
              <ion-row>
                <ion-col class="title-col" width-50>  
                  <div class="title"><b>{{ event.name }}</b></div>                
                </ion-col> 
              </ion-row>
              <ion-row>
                <ion-col>
                    <div class="sched">
                      {{ event.date }}
                      <span *ngIf="event.enddate!=''"> <b>—</b> {{ event.enddate }}</span> <b>|</b> 
                      {{ event.time }}
                      <span *ngIf="event.endtime!=''"> <b>—</b> {{ event.endtime }}</span>
                    </div>
                    <p><ion-icon name="pin"></ion-icon>  {{ event.venue }}</p>    
                </ion-col> 
              </ion-row>
            </div>
            <ion-row class="status-row">
              <ion-col> 
                <!--<div *ngFor="let attend of event.attendees | async">
                  <ng-container *ngIf="attend.name == user;else notJoined">  
                    <button (click)="tapok(event, attend)" ion-button icon-left round clear>
                      <ion-icon name="happy"></ion-icon>
                      <div>Joined {{ event.tapok }}</div>
                    </button> 
                  </ng-container>
                </div>-->
                <!--<ng-template #notJoined>-->
                  <button class="notjoined" (click)="confirm(event, status[i])" ion-button icon-left round clear>
                      <ion-icon name="happy"></ion-icon>
                      <div>{{ status[i] }} {{ event.tapok }}</div>
                  </button>
                  <div class="increment">{{ i+1 }}</div>
                <!--</ng-template>-->
              </ion-col>
              <ion-col>
                  <button ion-button icon-left round clear>
                      <ion-icon name="share"></ion-icon>
                      <div class="share">Share</div>
                  </button> 
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>
    </ion-list>
  </div>

  <ion-fab bottom right>
    <button ion-fab (click)="openAddTapok()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

