<ion-header>
  <ion-navbar hide-on-scroll="true" no-border-bottom>  
    <ion-title text-center>
      <div class="nav-title">Tapok</div>
    </ion-title>

    <ion-buttons right>
        <button (click)="openSearch()" ion-button icon-only round clear>
          <ion-icon class="search-icon" name="search"></ion-icon>
        </button>
    </ion-buttons> 

    <ion-buttons left>
        <!--<button (click)="showFilterPopOver()" ion-button icon-only round clear>
          <ion-icon class="search-icon" name="eye"></ion-icon>
        </button>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>  

<ion-content class="background" fullscreen>
  <div [ngSwitch]="pages">
    <ion-list *ngSwitchCase="'list'">
      <div *ngFor="let event of Event | async; let i = index;"> <!---->
        <div *ngIf="status[i] == 'TAPOK'"> 
          <ion-card text-center>
            <ion-item>
              <ion-avatar item-start>
                <img class="user-avatar" src="assets/img/user.png">
              </ion-avatar>
              <ion-label>
                <h2><strong>{{ event.host }}</strong></h2>
              </ion-label>
            </ion-item>
            <ion-row *ngIf="event.photo != ''">
              <div (click)="viewPic(event.photo)">
              <!--<div (click)="toggle(event.$key, event.toggle)">
                <div *ngIf="event.toggle == 'false'">
                    see photo
                </div>
                <div *ngIf="event.toggle == 'true'">-->
                  <div class="box" text-center>
                    <img class="photo" src="{{ event.photo }}">
                  </div>
                  <!--<br>hide photo
                </div>-->
              </div>
            </ion-row>
            <div (click)="openTapokContent(event)">
              <ion-row>
                <ion-col class="title-col" width-50>  
                  <div class="title"><b><hr>{{ event.name }}<hr></b></div>            
                </ion-col> 
              </ion-row>
              <ion-row class="details">
                <ion-col>
                  <span *ngIf="event.enddate==''">
                    <ion-icon name="calendar" color="secondary"></ion-icon>
                    <span class="chip-label-date">{{ event.date }}</span>
                  </span>
                  <span *ngIf="event.enddate!=''">   
                    <ion-icon name = "calendar" color="secondary"></ion-icon>                     
                    <span class="chip-label-date">{{ event.date }}  <b>-</b> {{ event.enddate }}</span>
                  </span>   
                  <span *ngIf="event.endtime==''">
                    <ion-icon name = "time" color="danger"></ion-icon>                    
                    <span class="chip-label">{{ event.time }}</span>
                  </span>
                  <span *ngIf="event.endtime!=''">
                    <ion-icon name = "time" color="danger"></ion-icon>                      
                    <span class="chip-label">{{ event.time }}  <b>-</b> {{ event.endtime }}</span>
                  </span>
                  <br>
                  <div class="location">
                    <ion-icon name = "pin" color="primary"></ion-icon>                    
                    <span class="chip-label">{{ event.venue }}</span>
                  </div>
                  <br>
                  <button (click)="confirm(event, status)" ion-button icon-left outline small>
                    <div *ngIf="event.tapok > 1">{{ event.tapok }} Attendees</div>
                    <div *ngIf="event.tapok == 1">{{ event.tapok }} Attendee</div>
                    <div *ngIf="event.tapok == 0">No Attendees</div>
                  </button>
                </ion-col> 
              </ion-row>
            </div>
            <ion-row>
              <ion-col>
                <button class="notjoined" (click)="confirm(event, status[i])" ion-button icon-left round clear>
                  <ion-icon name="happy"></ion-icon>
                    JOIN
                </button>
                <div class="increment">{{ i+1 }}</div>
              </ion-col>
              <ion-col>
                <button ion-button icon-left round clear (click)="facebookShare()">
                    <ion-icon name="share"></ion-icon>
                    <div class="share">Share</div>
                </button> 
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>
    </ion-list>
  </div>

  <ion-fab bottom right>
    <button ion-fab (click)="openAddTapok()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

