page-login {
    ion-content{
        background-color: #FF8D3F !important;
    }

    .facebook{
        width: 90%;
        height: 2.7em;
        background-color: royalblue;
        font-size: 1.3em;
        display: block;
        margin-top: 18em;
        margin-right: auto;
        margin-left: auto;
    }

    .google{
        width: 90%;
        height: 2.7em;
        font-size: 1.3em;
        display: block;
        margin-top: 1em;
        margin-right: auto;
        margin-left: auto;
    }
}
