page-login {
    .name-label{
        margin-bottom: .3em;
        color: #F8A055;
        font-size: 1.5em;
    }

    .name{
        color: #353C3F;
        font-size: 1.5em;
        border: 1px solid gray;
        border-radius: .1em;
    }
}
