<ion-header>
  <ion-navbar color="tapok" hide-on-scroll="true" no-border-bottom>
      <h2 class="name-col" text-center>{{group.gname}}</h2>
    <ion-buttons *ngIf="group.adminid === current" right large>
        <button class="button-header" (click)="popOver($group)" ion-button icon-only round>
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
    <ion-toolbar no-border-top>
            <ion-segment [(ngModel)]="groupcont">
                <ion-segment-button value="posts">
                    POSTS
                </ion-segment-button> 
                <ion-segment-button value="events">
                    EVENTS
                </ion-segment-button>
                <ion-segment-button value="members">
                    MEMBERS ( {{ gcount }} )
                </ion-segment-button>  
            </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="groupcont">
        <ion-list *ngSwitchCase="'posts'">
            <div class="contentbg">  
                <div class="box">
                    <img (click)="viewPic(group.photo)" class="photo" src="{{ group.photo }}">
                </div>
                <br>
                    <div class="gheader">
                        <ion-row text-center>
                            <ion-col>
                                <div class="descr-col"><i>{{ group.gdescr }}</i></div>
                            </ion-col>
                        </ion-row>
                    </div>
                    <br>

                    <ion-card *ngFor="let posts of post | async; let i = index">
                        <div class="postcontent">
                            <ion-item>
                                <ion-avatar item-start medium>
                                    <img class="profilepic" src="{{ posts.photo }}">
                                </ion-avatar>
                                <h2 class="names">{{ posts.poster }}</h2>
                                <p>{{ posts.datetime | date: 'MM/dd/yyyy h:mma' }}</p>
                            </ion-item>

                            <ion-buttons *ngIf="posts.posterid === current" float-right>
                                    <button class="del-post2" (click)="presentActionSheetPost(posts)" ion-button large clear>
                                        <ion-icon name="more"></ion-icon>
                                    </button>
                            </ion-buttons>

                            <ion-row>
                                <ion-card-content>
                                    {{ posts.post }}
                                </ion-card-content>
                            </ion-row>

                            <ion-row>
                                <ion-col class="del-post1"> 
                                    <button ion-button icon-left clear small (click)="openAddComment(group, posts)">
                                        <ion-icon name="text"></ion-icon>
                                        <div class="del-post1"> Comment</div>
                                    </button>
                                </ion-col>

                                <ion-col class="del-post1">
                                <button ion-button icon-left clear small (click)="openComment(group, posts)">
                                    <ion-icon name="open"></ion-icon>
                                    <div class="del-post1">View Comments</div>
                                </button>
                                </ion-col>
                            </ion-row>
                            <div *ngIf="posts.comments != null">
                            <hr class="line">
                                <ion-row>
                                    <ion-col>
                                        <p class="commenter">{{ latestCommenter[i] }}</p> 
                                        <p class="latest" text-wrap> {{ latestComment[i] }} <span class="unnum"> {{ i+1 }}</span></p>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-card>


                    <ion-card>
                        <ion-item>
                        <ion-avatar item-start large>
                            <img class="profilepic" src="{{ group.userphoto }}">
                        </ion-avatar>
                        <h2 class="names">{{ group.admin }}</h2>
                        <p>{{ group.datetime | date: 'MM/dd/yyyy h:mma' }}</p>

                        </ion-item>
                        <ion-card-content>
                            {{ group.admin }} created the group.
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-list>
        </div>

        <div [ngSwitch]="groupcont">
            <ion-list *ngSwitchCase="'events'">
                <div *ngFor="let sevent of sharedevent | async; let i = index;">
                    <ion-card text-center>
                        <ion-item>
                            <ion-avatar item-start>
                                <img class="user-avatar" src="{{ sevent.host_photo }}">
                            </ion-avatar>
                            <ion-label>
                                <h2><strong>{{ sevent.host }}</strong></h2>
                            </ion-label>
                            <ion-badge *ngIf="sevent.max_members == null" color="tapok" item-end outline>
                                {{ sevent.tapok }} <ion-icon name="person"></ion-icon>
                            </ion-badge>
                            <ion-badge *ngIf="sevent.max_members != null" color="tapok" item-end outline>
                                {{ sevent.tapok }} of {{ sevent.max_members }} <ion-icon name="person"></ion-icon>
                            </ion-badge>
                        </ion-item>
                        <ion-row *ngIf="sevent.photo != ''">
                            <div (click)="viewPic(sevent.photo)">
                                <div class="box" text-center>
                                    <img class="photo" src="{{ sevent.photo }}">
                                </div>
                            </div>
                        </ion-row>
                        <div>
                            <ion-row>
                                <ion-col class="title-col" width-50>  
                                    <div class="title"><b>{{ sevent.name }}</b></div>            
                                </ion-col> 
                            </ion-row>
                            <ion-row class="details">
                                <ion-col>
                                    <span *ngIf="sevent.enddate==''">
                                        <ion-icon name="calendar" color="secondary"></ion-icon>
                                        <span class="chip-label-date">{{ sevent.date }}</span>
                                    </span>
                                    <span *ngIf="sevent.enddate!=''">   
                                        <ion-icon name = "calendar" color="secondary"></ion-icon>                     
                                        <span class="chip-label-date">{{ sevent.date }}  <b>-</b> {{ sevent.enddate }}</span>
                                    </span>   
                                    <span *ngIf="sevent.endtime==''">
                                        <ion-icon name = "time" color="danger"></ion-icon>                    
                                        <span class="chip-label">{{ sevent.time }}</span>
                                    </span>
                                    <span *ngIf="sevent.endtime!=''">
                                        <ion-icon name = "time" color="danger"></ion-icon>                      
                                        <span class="chip-label">{{ sevent.time }}  <b>-</b> {{ sevent.endtime }}</span>
                                    </span>
                                    <br>
                                    <div class="location">
                                        <ion-icon name = "pin" color="primary"></ion-icon>                    
                                        <span class="chip-label">{{ sevent.venue }}</span>
                                    </div>
                                    <br>
                                    <!---<div>
                                        <div *ngIf="sevent.tapok > 1">{{ sevent.tapok }} Attendees</div>
                                        <div *ngIf="sevent.tapok == 1">{{ sevent.tapok }} Attendee</div>
                                        <div *ngIf="sevent.tapok == 0">No Attendees</div>
                                    </div>-->
                                </ion-col> 
                            </ion-row>
                        </div>
                    </ion-card>
                </div>
            </ion-list>
        </div>

        <div [ngSwitch]="groupcont">
            <ion-list *ngSwitchCase="'members'">
                <ion-segment [(ngModel)]="memberscont">
                    <ion-segment-button value="groupmem">
                        MEMBERS
                    </ion-segment-button> 
                    <ion-segment-button value="groupreq">
                        REQUESTS
                    </ion-segment-button>
                </ion-segment>

                <div [ngSwitch]="memberscont">
                    <div *ngSwitchCase="'groupmem'">
                        <ion-list *ngFor="let gmembers of gmember | async">
                            <span>
                                <img class="ppic" src="{{ gmembers.photo }}">
                                <p class="mname">{{ gmembers.name }}</p>
                                <div *ngIf="group.adminid === gmembers.userid"><ion-icon class="adminsign" name="star" medium></ion-icon><hr></div>
                            </span>
                            <!--<button ion-button item-end clear large><ion-icon name="mail"></ion-icon></button>-->
                        </ion-list>
                    </div>
                </div>

                <div *ngIf="group.adminid === current">
                <div [ngSwitch]="memberscont">
                    <div *ngSwitchCase="'groupreq'">
                        <ion-list *ngFor="let rmembers of rmember | async">
                            <span>
                                <img class="ppic" src="{{ rmembers.photo }}">
                                <p class="mname">{{ rmembers.name }}</p>
                                <ion-buttons right large>
                                    <button class="join-header" (click)="joinGroup(group.$key, group.gname, rmembers, group.admin)" ion-button icon-only round>
                                        <ion-icon name="checkmark"></ion-icon>
                                    </button>
                                    <button class="join-header" (click)="denyRequest(group.$key, rmembers.$key)" ion-button icon-only round>
                                        <ion-icon name="close"></ion-icon>
                                    </button>
                                </ion-buttons>
                            </span>
                            <!--<button ion-button item-end clear large><ion-icon name="mail"></ion-icon></button>-->
                        </ion-list>
                    </div>
                </div>
                </div>


                <!---<ion-card>
                    <ion-item>
                        <ion-avatar item-start large>
                            <img class="item-avatar" src="assets/img/henry.jpg">
                        </ion-avatar>
                        <h2>Henry Eguia</h2>
                        <button ion-button item-end clear large><ion-icon name="mail"></ion-icon></button>
                    </ion-item>
                </ion-card>

                <ion-card>
                    <ion-item>
                        <ion-avatar item-start large>
                            <img class="item-avatar" src="assets/img/kurt.jpg">
                        </ion-avatar>
                            <h2>Kurt Torregosa</h2>
                            <button ion-button item-end clear large><ion-icon name="mail"></ion-icon></button>
                    </ion-item>
                </ion-card>-->
            </ion-list>
        </div>
</ion-content>

<ion-footer>
    <ion-fab bottom right>
        <button ion-fab (click)="openGroupPost(group)">
            <ion-icon name="send"></ion-icon>
        </button>
    </ion-fab>
<ion-footer>