@import url('https://fonts.googleapis.com/css?family=Passion+One');

.kuyog-button{
    margin-bottom: .5em;
}


    .event-title{
        color: whitesmoke;
        font-family: 'Passion One';
        font-size: 30px;
        position: absolute;
        z-index: 1;
    }

    .group-title{
        color: whitesmoke;
        font-family: 'Passion One';
        font-size: 30px;
        position: absolute;
        z-index: 1;
    }

    .overlay{
            background: black; 
            opacity: .5;
            position: absolute;
            top: 10.3em;
            border-radius: .5px;
            z-index: 0;
    }

    .overlay1{
            background: black; 
            opacity: .5;
            position: absolute;
            top: 8.8em;
            border-radius: .5px;
            z-index: 0;
    }

    .names{
        color: midnightblue;
        font-size: 70px;
    }

    .member{
        color: black;
        font-size: 50px;
    }

.ios{
    .event-title{
        top: 5.2em;
        left: .6em;
    }

    .overlay{
        padding-right: 20.3em;
        padding-bottom: 3.6em;
    }

    .overlay1{
        padding-right: 22.3em;
        padding-bottom: 3.6em;
    }

    .group-title{
        top: 4.4em;
        left: .6em;
    }

    .names{
        left: 1em;
    }
}

.md{
    .event-title{
        top: 5.2em;
        left: .5em;
    }

    .overlay{
        padding-right: 20.55em;
        padding-bottom: 3.6em;
    }

    .overlay1{
        padding-right: 22.3em;
        padding-bottom: 3.6em;
    }

    .group-title{
        top: 4.4em;
        left: .6em;
    }

    .names{
        color: midnightblue;
        left: 3em;
    }
}

.post{
    top: 4em;
}

.descr-col{
    font-size: 16px;
}

.postbox{
    left: 3em;
    width: 5px;
}

.del-post{
    top: -6em;
    height: 20px;
    width: 18px;
}

group-content{
    .button-header{
        margin-right: 1em;
    }
    .tapok-button{
        margin-bottom: .5em;
    }

    .row-status{
        background-color: #FCFCFC;
    }
}
