tapok-content{
    .button-header{
        margin-right: 1em;
    }
    .tapok-button{
        margin-bottom: .5em;
    }

    .row-status{
        background-color: #FCFCFC;
    }

    .box{
        width: 23.5em; 
        height: 14.5em; 
        overflow: hidden;
    }
    .photo{
        width: 100%;
    }
}
