<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card text-center>        
        <ion-row *ngIf="event.photo != ''">
            <ion-col (click)="viewPic(event.photo)">
            <!--<ion-col (click)="toggle(event.$key, event.toggle)">
              <div *ngIf="event.toggle == 'false'">
                  see photo
              </div>
              <div *ngIf="event.toggle == 'true'">-->
                <div class="box">
                  <img class="photo" src="{{ event.photo }}">
                </div>
                <!--<br>hide photo
              </div>-->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h1>{{ event.name }}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="sched">{{ event.date }}| {{ event.time }} </div>
                <p><ion-icon name="pin"></ion-icon>  {{ event.venue }}</p>          
            </ion-col>
        </ion-row>
        <ion-row text-justify padding>
            <ion-col>
                <p>Description:<br>{{ event.description }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="row-status">
                <ion-col>
                    <button (click)="confirm(event, status)" ion-button icon-left round clear>
                        <ion-icon name="happy"></ion-icon>
                        <div class>Tapok {{ event.tapok }}</div>
                    </button> 
                </ion-col>
                <ion-col>
                    <button ion-button icon-left round clear>
                        <ion-icon name="share"></ion-icon>
                        <div class="share">Share</div>
                    </button>
                </ion-col>
        </ion-row>
    </ion-card>

    <ion-fab bottom right>
        <button ion-fab (click)="openChatContent()">
          <ion-icon name="chatboxes"></ion-icon>
        </button>
      </ion-fab>

</ion-content>