page-about{
    /*ion-card{
        border-top: 1.5px solid #F8A055;
    }*/

    .title{
        margin-top: -.1em;
        color: #353C3F;
        font-size: 2.5em; 
    }

    .box{
        height: 30vh !important;
        width: auto !important;
        align-items: center;
        overflow: hidden;
    }
    .photo{
        width: 100%;
    }

    .sched{
        color: #1E1E20;
        margin: .5em;
    }

    .title-col{
        color: #F8A055;
    }

    .nav-title{
        color: white;
    }

    .search-icon{
        color: white;
    }

    .increment{
        display: none;
    }

    .chip-label{
        margin-left: .2em;
    }

    .chip-label-date{
        margin-left: .2em;
        margin-right: 1em;
    }

    .location{
        padding-top: 1em;
    }

    .details{
        font-size: 1.1em;
        color: gray;
    }

    .tags{
        margin-left: 1em;
    }

    .increment{
        display: none;
    }

    .location{
        margin-top: -.5em;
    }

    .attendees{
        margin-top: -1em;
    }

    .tabs{
        position: fixed;
    }

    .empty{
        position: fixed;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);       
        z-index: -1;
    }
}