<ion-header>
    <ion-navbar color="tapok" hide-on-scroll="true" no-border-bottom>
        <ion-buttons right>
            <button (click)="openSearch()" ion-button icon-only round clear>
              <ion-icon class="search-icon" name="search"></ion-icon>
            </button>
        </ion-buttons>   
        <ion-title text-center>Groups</ion-title>
        <ion-buttons left>
            <button (click)="openMap()" ion-button icon-only round clear>
              <ion-icon class="search-icon" name="map"></ion-icon>
            </button>
        </ion-buttons> 
    </ion-navbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="group">
        <ion-segment-button value="mygroup">
          MY GROUPS
        </ion-segment-button> 
        <ion-segment-button value="recommended">
          ALL GROUPS
        </ion-segment-button> 
      </ion-segment>
      </ion-toolbar>
</ion-header>

<ion-content>
      <br><br><br>
<div [ngSwitch]="group">
  <ion-list *ngSwitchCase="'mygroup'">
      <p class="nogroups" *ngIf="count == 0" text-center>You have no groups at the moment. Join one now!</p>
    <div *ngFor="let group of Group | async">
      <div *ngFor="let ugroup of uGroup | async">
        <ion-card *ngIf="ugroup.key == group.$key" text-center>
          <div (click)="openGroupContent(group)">

              <div class="boxpic" [style.background-image]="'url(' + group.photo + ')'"></div>
                
                <div class="gname">
                  <ion-row text-center>
                    <ion-col class="title-col" width-50>  
                        <div class="title"><b>{{ group.gname }}</b></div>
                    </ion-col> 
                  </ion-row>

                  <ion-row class="gdescrip"text-center>
                    <ion-col>
                        <div class="descr-col"><i>{{ group.gdescr }}</i></div>  
                    </ion-col> 
                  </ion-row>
                  
                  </div>
          </div>

          <div class="tagbox">
          <br *ngIf="group.tags == 'true'">
          <span *ngIf="group.tags == 'true'" text-left padding>
            <p class="tags"><ion-icon name = "pricetag" color="dark"></ion-icon>  Tags:<br>
            <span *ngFor="let tag of Tags | async">
              <span *ngIf="tag.key == group.$key">
                <ion-badge>{{ tag.tag }} </ion-badge>
              </span>
            </span>
            </p>
          </span>
          
          </div>

          <br>

                    <ion-row *ngIf="group.admin != user">
                      <ion-col>
                        <button class="join-but" ion-button outline medium (click)="leaveGroup(ugroup.$key, group.$key)">
                            LEAVE GROUP
                        </button>
                      </ion-col>
                    </ion-row>
        </ion-card>
      </div>
    </div>
  </ion-list>

  <!--End of My Groups-->

  <ion-list *ngSwitchCase="'recommended'">
      <p class="nogroups" *ngIf="allcount == 0" text-center>There are no groups at the moment.</p>
    <ion-card *ngFor="let group of Group | async; let x = index;" text-center>
      <div class="test" *ngIf="status[x] == 'UNJOINED'">
          
        <div class="groupbg">

              <div class="boxpic" [style.background-image]="'url(' + group.photo + ')'">
              </div>
              
                
              <div class="inc">{{ x+1 }}</div>
              <ion-row text-center>
                <ion-col>  
                    <div class="title"><b>{{ group.gname }}</b></div>
                </ion-col> 
              </ion-row>
              
              <ion-row text-center>
                <ion-col>
                    <div class="descr-col"><i>{{ group.gdescr }}</i></div>  
                </ion-col> 
              </ion-row>

              <div class="tagbox">
                  <br *ngIf="group.tags == 'true'">
                  <span *ngIf="group.tags == 'true'" text-left padding>
                    <p class="tags"><ion-icon name = "pricetag" color="dark"></ion-icon>  Tags:<br>
                    <span *ngFor="let tag of Tags | async">
                      <span *ngIf="tag.key == group.$key">
                        <ion-badge>{{ tag.tag }} </ion-badge>
                      </span>
                    </span>
                    </p>
                  </span>
                  </div>

                  <br>
              
            
            <ion-row>
              <ion-col>
                <button class="join-but" ion-button outline medium (click)="requestJoin(group.$key, group.admin, group.gname)">
                    JOIN GROUP
                </button>
              </ion-col>
            </ion-row>
        </div>
      </div>
    </ion-card>
  </ion-list>
</div>

 <ion-fab bottom right>
    <button ion-fab (click)="openAddGroup()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
