<ion-header>
  <ion-toolbar no-border-top>
    <div padding>
  <ion-segment [(ngModel)]="group">
    <ion-segment-button value="mygroup">
      MY GROUPS
    </ion-segment-button> 
    <ion-segment-button value="recommended">
      ALL GROUPS
    </ion-segment-button> 
  </ion-segment>
</div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
<div [ngSwitch]="group">
  <ion-list *ngSwitchCase="'mygroup'">
    <div *ngFor="let group of Group | async">
      <div *ngFor="let ugroup of uGroup | async">
        <ion-card *ngIf="ugroup.key == group.$key" text-center>
          <div (click)="openGroupContent(group)">

              <div class="boxpic" [style.background-image]="'url(' + group.photo + ')'"></div>
                
                <div class="gname">
                  <ion-row text-center>
                    <ion-col class="title-col" width-50>  
                        <div class="title"><b>{{ group.gname }}</b></div>
                    </ion-col> 
                  </ion-row>
                  <hr>    

                  <ion-row class="gdescrip"text-center>
                    <ion-col>
                        <div class="descr-col"><i>{{ group.gdescr }}</i></div>  
                    </ion-col> 
                  </ion-row>
                  
                  </div>
          </div>
                    <ion-row>
                      <ion-col>
                        <button class="join-but" ion-button outline medium (click)="leaveGroup(ugroup.$key)">
                            LEAVE GROUP
                        </button>
                      </ion-col>
                    </ion-row>
        </ion-card>
      </div>
    </div>
  </ion-list>

  <!--End of My Groups-->

  <ion-list *ngSwitchCase="'recommended'">
    <ion-card *ngFor="let group of Group | async; let i = index;" text-center>
      <div *ngIf="status[i] == 'UNJOINED'">
          <div class="inc">{{ i+1 }}</div>
        <div class="groupbg">

              <div class="boxpic" [style.background-image]="'url(' + group.photo + ')'">
              </div>
              
                

              <ion-row text-center>
                <ion-col class="title-col" width-50>  
                    <div class="title"><b>{{ group.gname }}</b></div>
                </ion-col> 
              </ion-row>
              <hr>
              <ion-row text-center>
                <ion-col>
                    <div class="descr-col"><i>{{ group.gdescr }}</i></div>  
                </ion-col> 
              </ion-row>
              
            
            <ion-row>
              <ion-col>
                <button class="join-but" ion-button outline medium (click)="joinGroup(group.$key, group.gname)">
                    JOIN GROUP
                </button>
              </ion-col>
            </ion-row>
        </div>
      </div>
    </ion-card>
  </ion-list>
</div>

 <ion-fab bottom right>
    <button ion-fab (click)="openAddGroup()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
