page-group{
    ion-card{
        border: 0px;
    }

    .tabs{
        position: fixed;
    }

    .title{
        color: #2F2E33;
    }

    .title{
        padding-top: 0.4em;
        color: black;
        font-size: 2.3em;
    }

    .overlaybox{
        color: whitesmoke;
        opacity: .7;
    }

    .tagbox{
        margin-left: 1.5em;
        margin-right: 1.5em;
        margin-top: -2em;
    }

    .test{
        color:whitesmoke;
    }

    .descr-col{
        color: black;
        font-size: 1.1em;
        padding-bottom: 0.8em;
        padding-top: 0em;
        padding-left: 1em;
        padding-right: 1em;
        bottom: 3em;
    }

    .title-col{
        color: whitesmoke;
    }

    .nav-title{
        color: white;
    }

    .background{
        padding-bottom: 5em;
    }

    .join-but{
        width: 80%;
        bottom: 0.5em;
    }

    .groupbg{
        background-color: snow;
    }

    .photo{
        width: 3em;
        height: 30%;
    }

    .boxpic{
        width: 100%; 
        height: 8em; 
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-color: black;
    }

    .inc{
        display: none;
    }
}


/*.samp{
    position: absolute;
    top: 60px;
    width: 100%;
}

.samp1{
    position: absolute;
    top: 150px;
    width: 100%;
}

.ios{
    .fab1{
    position: fixed;
    bottom: 3.5em;
    right: 1.5em;
    }
}

.md{
    .fab1{
    position: fixed;
    bottom: 4.5em;
    right: 1.5em;
    }
}

.wp{
    .fab1{
    position: fixed;
    bottom: 1em;
    right: 2em;
}
}*/