.samp{
    position: absolute;
    top: 60px;
    width: 100%;
}

.samp1{
    position: absolute;
    top: 150px;
    width: 100%;
}

.ios{
    .fab1{
    position: fixed;
    bottom: 3.5em;
    right: 1.5em;
    }
}

.md{
    .fab1{
    position: fixed;
    bottom: 4.5em;
    right: 1.5em;
    }
}

.wp{
    .fab1{
    position: fixed;
    bottom: 1em;
    right: 2em;
}
}