page-add-birthday {
    .detail-label{
        margin: .3em;
        color: #F8A055;
        font-size: 1.2em;  
    }

    .detail{
        color: #353C3F;
        font-size: 1.2em;
        border: 1px solid gray;
        border-radius: .3em;
    }

    .detail:focus{
        outline: none;
        background-color: red;
        border: 1px solid #F8A055;
    }

    .detail-datetime{
        margin-top: -1em;
        color: #353C3F;
        font-size: 1.2em;
        border: 1px solid gray;
        border-radius: .3em;
    }
}
