add-tapok{
    .name-label{
        margin-bottom: .3em;
        color: #F8A055;
        font-size: 1.5em;
    }

    .name{
        color: #353C3F;
        font-size: 1.5em;
        border: 1px solid gray;
        border-radius: .1em;
    }

    /*input{
        text-align: center;
    }*/

    .box{
        width: 512px; 
        height: 320px; 
        overflow: hidden;
    }
    .photo{
        width: 100%;
    }

    .sched{
        color: #1E1E20;
        margin: .5em;
    } 

    .detail-label{
        margin: .3em;
        color: #F8A055;
        font-size: 1.2em;  
    }

    .detail-label-add{
        margin: .2em;
        color: #F8A055;
        font-size: 1.2em;
    }

    .detail{
        color: #353C3F;
        font-size: 1.2em;
        border: 1px solid gray;
        border-radius: .3em;
    }

    .detail:focus{
        outline: none;
        background-color: red;
        border: 1px solid #F8A055;
    }

    .detail-datetime{
        margin-top: -1em;
        color: #353C3F;
        font-size: 1.2em;
        border: 1px solid gray;
        border-radius: .3em;
    }

    .extra-label{
        margin-top: 2em; 
        margin-right: 2em;
        text-align: center;
        color: #F8A055;
        font-size: 1.2em;  
    }

    .description{
        color: #353C3F;
        font-size: 1.2em;
        border: 1px solid gray;
        border-radius: .3em;
    }

    .buttons{
        margin-top: 1em;
    }
}

