<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ label }}
        </ion-title>
        
        <ion-buttons end>
            <button (click)="dismiss()" ion-button icon-only clear>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
    
<ion-content>
    <ion-row>
        <ion-col>
            <div class="box"></div>
        </ion-col>
    </ion-row>
    <div padding>
        <ion-row>
            <ion-col>
                <div class="name-label"><b>Tapok Name</b></div>
                <ion-input class="name" [(ngModel)]="name" type="text"></ion-input>
            </ion-col>  
        </ion-row>
        <ion-row align-items-start>
            <ion-col>
                <div class="detail-label">Start Date</div>
                <ion-input class="detail" [(ngModel)]="date" type="date"></ion-input>
            </ion-col> 
            <ion-col (click)="endDate()">
                <div class="extra-label" *ngIf="addEndDate == false">Add End Date</div>
                <div *ngIf="addEndDate == true">
                    <div class="detail-label"><span>x</span> End Date</div>
                    <ion-input class="detail" [(ngModel)]="endDate" type="date"></ion-input>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="detail-label">Start Time</div>
                <ion-datetime class="detail" [(ngModel)]="time" displayFormat="hh:mm A" pickerFormat="hh:mm A" [(ngModel)]="eventTime" placeholder="00:00 MM"></ion-datetime>
            </ion-col>
            <ion-col (click)="endTime()">
                <div class="extra-label" *ngIf="addEndTime == false">Add End Time</div>
                <div *ngIf="addEndTime == true">
                    <div class="detail-label"><span>x</span> End Time</div>
                    <ion-col>
                        <ion-datetime class="detail-datetime" displayFormat="hh:mm A" pickerFormat="hh:mm A" placeholder="00:00 MM"></ion-datetime>
                    </ion-col>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="detail-label">Venue</div>
                <ion-input class="detail" [(ngModel)]="venue" type="text"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row text-justify>
            <ion-col>
                <div class="detail-label">Description</div>
                <ion-textarea class="description" [(ngModel)]="description"></ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row class="buttons" text-center>
            <ion-col>
                <button class="tapok-button" (click)="generateTapok()" ion-button large>{{ label }}</button>
            </ion-col>
            <ion-col>
                <button class="tapok-button" (click)="generateTapok()" ion-button outline large>Cancel</button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>