<ion-header>
  <ion-navbar color="tapok" hide-on-scroll="true" no-border-bottom>  
    <ion-buttons *ngIf="otherUser==null" right>
      <button (click)="openSearch()" ion-button icon-only round clear>
        <ion-icon class="search-icon" name="search"></ion-icon>
      </button>
    </ion-buttons>  
    <ion-title text-center>
      <div *ngIf="otherUser == null">User</div>
    </ion-title>
    <ion-buttons *ngIf="otherUser==null" left>
      <button (click)="openMap()" ion-button icon-only round clear>
        <ion-icon class="search-icon" name="map"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="otherUser!=null" left>
      <button (click)="dismiss()" ion-button icon-only round clear>
        <ion-icon class="search-icon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>  
  </ion-navbar>
  <ion-toolbar *ngIf="otherUser==null" no-border-top>
    <ion-segment [(ngModel)]="pages">
      <ion-segment-button (click)="changePage('me')" value="me">
        YOU
      </ion-segment-button>
      <ion-segment-button (click)="changePage('following')" value="following">
        PEOPLE
      </ion-segment-button>
      <ion-segment-button (click)="changePage('history')" value="history">
        ARCHIVES
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <br><br>
  <div *ngIf="pages=='me'">
    <ion-item text-center>
      <img class="item-avatar" src="{{ photo }}">
    </ion-item>
    <ion-item>
      <div class="username"><b>{{ username }}</b></div>
    </ion-item>
    <ion-item>
      <p class="mail"><ion-icon name="mail"></ion-icon> {{ email }}</p>
    </ion-item>
    <ion-item>
      <ion-buttons *ngIf="otherUser!=null&&!check">
        <button (click)="follow()" ion-button block outline>
          <ion-icon name="person"></ion-icon>&nbsp;Follow 
        </button>
      </ion-buttons>
      <ion-buttons *ngIf="otherUser!=null&&check">
        <button (click)="unfollow(otherUser)" ion-button block outline>
          <ion-icon name="close"></ion-icon>&nbsp;Unfollow 
        </button>
      </ion-buttons>
    </ion-item>
    <ion-item text-wrap>
      <ion-label>Allow other users to find you: </ion-label><ion-toggle (ionChange)="askPermission()" [(ngModel)]="permission"></ion-toggle>
    </ion-item>
  </div>
  <ion-item-divider *ngIf="pages=='me'&&permission==true">Location</ion-item-divider>
  <div #map *ngIf="pages=='me'&&permission==true" id="map"></div>

  <div *ngIf="pages == 'following'">
    <br>
    <ion-list>
      <ion-item-group>
        <ion-item-divider>Following</ion-item-divider>
        <ion-item-sliding *ngFor="let following of Following | async">
          <ion-item (click)="openUser(following)">
            <ion-avatar item-start>
              <img src="{{ following.photo }}">
            </ion-avatar>
            <h2>{{ following.name }}</h2>
            <p>{{ following.email }}</p>
          </ion-item>
          <ion-item-options side="right">
            <button (click)="unfollow(following)" ion-button color="danger">
              <ion-icon name="close"></ion-icon>               
              unfollow
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Followers</ion-item-divider>
        <ion-item-sliding *ngFor="let follower of Follower | async">
          <ion-item (click)="openUser(follower)" >
            <ion-avatar item-start>
              <img src="{{ follower.photo }}">
            </ion-avatar>
            <h2>{{ follower.name }}</h2>
            <p>{{ follower.email }}</p>
          </ion-item>
          <ion-item-options side="right">
            <button (click)="followOther(follower)" ion-button color="secondary">
              <ion-icon name="person"></ion-icon>               
              follow
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </div>

  <ion-item-group *ngIf="pages == 'history'">
    <br><br>
    <ion-list>
      <div *ngFor="let history of Archive">
        <!--<ion-item-sliding>-->
          <ion-item>
            <h2>{{ history.name }}</h2>
            <p>{{ history.venue }}</p>
          </ion-item>
          <!--<ion-item-options side="right">
            <button (click)="unfollow(followers.$key)" ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              delete
            </button>
          </ion-item-options>-->
        <!--</ion-item-sliding>-->
      </div>
    </ion-list>
  </ion-item-group>

   
</ion-content>

<ion-footer *ngIf="otherUser==null">
  <div [ngSwitch]="pages">
    <div *ngSwitchCase="'me'">
      <button class="tapok-button" (click)="logout()" ion-button>Logout</button>
    </div>
  </div>
  <!--<div [ngSwitch]="pages">
    <div *ngSwitchCase="'history'">
      <button class="tapok-button" (click)="clearHistory()" ion-button>Clear</button>
    </div>
  </div>-->
</ion-footer>
