<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment *ngIf="otherUser==null" [(ngModel)]="pages">
      <ion-segment-button value="me">
        YOU
      </ion-segment-button>
      <ion-segment-button value="following">
        FOLLOWING
      </ion-segment-button>
      <ion-segment-button value="history">
        HISTORY
      </ion-segment-button>
    </ion-segment>
    <ion-buttons *ngIf="otherUser!=null" start>
      <button (click)="follow()" ion-button icon-only outline>
        <ion-icon name=""></ion-icon>
        Follow
      </button>
      </ion-buttons>
    <ion-buttons *ngIf="otherUser!=null" end>
      <button (click)="dismiss()" ion-button icon-only clear>
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pages">
    <div *ngSwitchCase="'me'">
      <ion-row text-center>
        <ion-col>
          <img class="item-avatar" src="{{ photo }}">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="username"><b>{{ username }}</b></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="mail"><ion-icon name="mail"></ion-icon> {{ email }}</p>
        </ion-col>
      </ion-row>
      <button class="tapok-button" (click)="logout()" ion-button large>Logout</button>
    </div>

    <ion-item-group *ngSwitchCase="'following'">
      <ion-list>
        <div *ngFor="let followers of Followers | async">
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="{{ followers.photo }}">
              </ion-avatar>
              <h2>{{ followers.name }}</h2>
              <p>{{ followers.email }}</p>
            </ion-item>
            <ion-item-options side="right">
              <button (click)="unfollow(followers.$key)" ion-button color="danger">
                <ion-icon name="trash"></ion-icon>
                delete
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>
    </ion-item-group>

    <ion-item-group *ngSwitchCase="'history'">
      <ion-list>
        <div *ngFor="let history of History | async">
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="{{ history.photo }}">
              </ion-avatar>
              <h2>{{ history.name }}</h2>
              <p>{{ history.venue }}</p>
            </ion-item>
            <ion-item-options side="right">
              <button (click)="unfollow(followers.$key)" ion-button color="danger">
                <ion-icon name="trash"></ion-icon>
                delete
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>
    </ion-item-group>
  </div>
</ion-content>
