<ion-header>
<ion-toolbar color="tapok" hide-on-scroll="true" no-border-bottom>
        <ion-title>
            {{ label }}
        </ion-title>
        
        <ion-buttons end>
            <button (click)="dismiss()" ion-button icon-only clear>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-row>
        <ion-col>
            <ion-textarea class="postbox" [(ngModel)]="comment" type="text" placeholder="Write a comment..."></ion-textarea>
        </ion-col>  
    </ion-row>
    <br>
    <ion-row text-center>
        <ion-col *ngIf="label == 'Add Comment'">
            <button *ngIf="comment!=''" (click)="addComment(posts)" ion-button medium>
                SEND COMMENT
            </button>
        </ion-col>
        <ion-col *ngIf="label == 'Edit Comment'">
            <button *ngIf="comment!=''" (click)="editComment(posts)" ion-button medium>
                SAVE CHANGES
            </button>
        </ion-col>
    </ion-row>

</ion-content>