.members
{
    background-color: orange;
    padding:.5em;
    color: white;
    border-radius: 1em;
    font-size: .8em;
}

.user
{
    text-align: right;
    background-color:#F0F0EF  ;
    padding:.5em;
    color: black;
    border-radius: 1em;
    font-size: .8em;
}

.icon-customize
{
    color: orange;
}