<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="tapok">
    <ion-searchbar [(ngModel)]="search" [showCancelButton]="shouldShowCancel" 
    (ionInput)="onInput()"></ion-searchbar>
    <ion-buttons left>
      <button (click)="dismiss()" ion-button icon-only clear>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button (click)="changeTab('events')" value="events">
        Events
      </ion-segment-button>
      <ion-segment-button (click)="changeTab('tags')" value="tags">
        Tags
      </ion-segment-button>
      <ion-segment-button (click)="changeTab('groups')" value="groups">
        Groups
      </ion-segment-button>
      <ion-segment-button (click)="changeTab('people')" value="people">
        People
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content text-center>
  <div *ngIf="tabs!='people' && tabs!='groups'">
    <div *ngFor="let res of result">
      <div *ngFor="let event of Event | async; let i = index;">
        <div *ngIf="(event.filter=='General')||(event.filter=='PG'&&age>=13)||(event.filter=='SPG'&&age>=18)">
          <ion-card *ngIf="event.$key == res" text-center>
            <ion-item>
              <ion-avatar item-start>
                <img class="user-avatar" src="assets/img/user.png">
              </ion-avatar>
              <ion-label>
                <h2><strong>{{ event.host }}</strong></h2>
              </ion-label>
              <ion-badge *ngIf="event.max_members == null" color="tapok" item-end outline>
                  {{ event.tapok }} <ion-icon name="person"></ion-icon>
              </ion-badge>
              <ion-badge *ngIf="event.max_members != null" color="tapok" item-end outline>
                  {{ event.tapok }} of {{ event.max_members }} <ion-icon name="person"></ion-icon>
              </ion-badge>
            </ion-item>
            <div *ngIf="event.photo != ''" class="box" text-center>
              <div (click)="viewPic(event.photo)">
                <img class="photo" src="{{ event.photo }}">
              </div>
            </div>
            <span (click)="openTapokContent(event)">
              <ion-row>
                <ion-col class="title-col">  
                  <div class="title"><b>{{ event.name }}</b></div>            
                </ion-col> 
              </ion-row>
              <div class="details">
                <br>
                <div *ngIf="event.enddate==''&&event.endtime==''">
                    <ion-icon name="calendar" color="secondary"></ion-icon> <b>Date:</b> {{ event.date }} &nbsp;&nbsp;<ion-icon name = "time" color="danger"></ion-icon> <b>Time:</b> {{ event.time }}
                </div>
                <div *ngIf="event.enddate!=''&&event.endtime==''">   
                    <ion-icon name = "calendar" color="secondary"></ion-icon> <b>Date:</b> {{ event.date }} <b>-</b> {{ event.enddate }} &nbsp;<ion-icon name = "time" color="danger"></ion-icon><b>Time:</b> {{ event.time }}
                </div>   
                <div *ngIf="event.enddate==''&&event.endtime!=''">
                    <ion-icon name="calendar" color="secondary"></ion-icon> <b>Date:</b> {{ event.date }} &nbsp;&nbsp;<ion-icon name = "time" color="danger"></ion-icon><b>Time:</b> {{ event.time }} <b>-</b> {{ event.endtime }}
                </div>
                <div *ngIf="event.enddate!=''&&event.endtime!=''">
                    <ion-icon name = "calendar" color="secondary"></ion-icon> <b>Date:</b> {{ event.date }} <b>-</b> {{ event.enddate }} &nbsp;&nbsp;<ion-icon name = "time" color="danger"></ion-icon><b>Time:</b> {{ event.time }} <b>-</b> {{ event.endtime }}
                </div>               
                <div class="location">
                  <ion-icon name = "pin" color="primary"></ion-icon>                    
                  <span class="chip-label">{{ event.venue }}</span>
                </div>
              </div> 
            </span>            
              <br *ngIf="event.tags != 'true'">
              <span *ngIf="event.tags == 'true'" text-left padding>
                <p class="tags"><ion-icon name = "pricetag" color="dark"></ion-icon>  Tags:<br>
                <span *ngFor="let tag of Tags | async">
                  <span *ngIf="tag.key == event.$key">
                    <ion-badge>{{ tag.tag }} </ion-badge>
                  </span>
                </span>
                </p>
              </span>
              <ion-col *ngIf="event.max_members == null&&user!=event.host&&status[i] == 'JOINED'">
                <button class="notjoined" (click)="confirm(event, status[i])" ion-button icon-left round clear>
                  <ion-icon name="happy"></ion-icon>
                    <span *ngIf="status[i] == 'TAPOK'">JOIN</span>
                    <span>JOINED</span>
                </button>
              </ion-col>
              <ion-col *ngIf="event.max_members == null&&status[i] == 'TAPOK'">
                <button class="notjoined" (click)="confirm(event, status[i])" ion-button icon-left round clear>
                  <ion-icon name="happy"></ion-icon>
                    <span>JOIN</span>
                </button>
              </ion-col>
              <ion-col *ngIf="event.max_members!=null&&memberStatus[i] == 'not_full'">
                <button class="notjoined" (click)="confirm(event, status[i])" ion-button icon-left round clear>
                  <ion-icon name="happy"></ion-icon>
                    JOIN
                </button>
              </ion-col>
              <ion-col *ngIf="memberStatus[i] == 'full'">
                <button class="notjoined" ion-button icon-left round clear>
                  <ion-icon name="happy"></ion-icon>
                    FULL
                </button>
              </ion-col>
              <div class="increment">{{ i+1 }}</div>
            <ion-col>
              <button (click)="sharePopover()" ion-button icon-left round clear>
                  <ion-icon name="share"></ion-icon>
                  <div class="share">Share</div>
              </button> 
            </ion-col>
          </ion-card>
        </div>
      </div>
    </div>
  </div>  

  <ion-list *ngIf="tabs=='people'&& this.search != ''">
    <div *ngFor="let login of Login | async; let i = index">
      <div *ngFor="let res of ResultPeople[i] | async; let y = index">
        <!--<ion-item-sliding>-->
          <ion-item (click)="openUser(res, $event)">
            <ion-avatar item-start><img src="{{ res.photo }}"></ion-avatar>
            <h2>{{ res.name }}</h2>
            <!--{{ Following[y].name }}-->
            <span *ngIf="Following[y] != undefined">
            <span *ngIf="Following[y].name == res.name">
              <ion-badge class="following" color="secondary">Following </ion-badge>
            </span>
            </span>
            <span *ngIf="Followers[y] != undefined&&Followers[y] == res.name">
              <ion-badge class="follower">Follower</ion-badge>
            </span>            
          </ion-item>
          <!--<ion-item-options side="right">
            <span *ngIf="Following[y] != undefined">
              <button (click)="followOther(follower)" ion-button color="danger">
                <ion-icon name="close"></ion-icon>               
                unfollow
              </button>
            </span>
            <span *ngIf="Following[y] == undefined">
              <button (click)="followOther(follower)" ion-button color="secondary">
                <ion-icon name="person"></ion-icon>               
                follow
              </button>
            </span>
            <span *ngIf="Followers[y] != undefined">
              <button (click)="followOther(follower)" ion-button color="secondary">
                <ion-icon name="person"></ion-icon>               
                follow
              </button>
            </span> 
            <span *ngIf="Followers[y] != undefined">
              <button (click)="followOther(follower)" ion-button color="secondary">
                <ion-icon name="person"></ion-icon>               
                follow
              </button>
            </span> 
          </ion-item-options>
        </ion-item-sliding>
        (click)="followPerson(follow)"-->
      </div>
    </div>
  </ion-list>

  <ion-list *ngIf="tabs=='groups'">
    <ion-card *ngFor="let group of Group | async; let i = index;" text-center>
        <div class="inc">{{ i+1 }}</div>
          <div class="groupbg">

          <div class="boxpic" [style.background-image]="'url(' + group.photo + ')'"></div>
              
          <ion-row text-center>
            <ion-col class="title-col" width-50>  
                <div class="title"><b>{{ group.gname }}</b></div>
            </ion-col> 
          </ion-row>
          <hr>
          <ion-row text-center>
            <ion-col>
                <div class="descr-col"><i>{{ group.gdescr }}</i></div>  
            </ion-col> 
          </ion-row>

          <!--<br *ngIf="group.tags != 'true'">
          <span *ngIf="group.tags == 'true'" text-left padding>
            <p class="tags"><ion-icon name = "pricetag" color="dark"></ion-icon>  Tags:<br>
            <span *ngFor="let tag of Tags | async">
              <span *ngIf="tag.key == group.$key">
                <ion-badge>{{ tag.tag }} </ion-badge>
              </span>
            </span>
            </p>
          </span>-->

          <ion-row>
            <ion-col>
              <button class="join-but" ion-button outline medium (click)="requestJoin(group.$key, group.gname, group.admin)">
                JOIN GROUP
              </button>
            </ion-col>
          </ion-row>
        </div>
    </ion-card>
  </ion-list>
</ion-content>
