page-search {
    .title{
        margin-top: -.1em;
        color: #353C3F;
        font-size: 2.5em; 
    }

    .box{
        height: 32vh !important;
        width: auto !important;
        align-items: center;
        overflow: hidden;
    }

    .photo{
        width: 100%;
    }

    .sched{
        color: #1E1E20;
        margin: .5em;
    }

    .title-col{
        color: #F8A055;
    }

    .nav-title{
        color: white;
    }

    .search-icon{
        color: white;
    }

    .increment{
        display: none;
    }

    .chip-label{
        margin-left: .2em;
    }

    .chip-label-date{
        margin-left: .2em;
        margin-right: 1em;
    }

    .location{
        padding-top: 1em;
    }

    .details{
        font-size: 1.1em;
        color: gray;
    }

    .tags{
        margin-left: 1em;
    }

    .increment{
        display: none;
    }

    .location{
        margin-top: -.5em;
    }

    .attendees{
        margin-top: -1em;
    }

    .isActive{
        color: #F8A055;
        border-bottom: 2px solid #F8A055;
    }

    .tab-bar{
        background-color: white;
        position: fixed;
        z-index: 1;
    }

    .tabs{
        color: dark;
        margin-left: 1em;
        margin-top: .5em;
    }

    .space{
        margin-bottom: 2.5em;
    }

    .groupbg{
        background-color: snow;
    }   

    .inc{
        display: none;
    }

    .boxpic{
        width: 100%; 
        height: 8em; 
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-color: black;
    }

    .following{
        font-size: .5em;
    }

    .follower{
        font-size: .5em;
    }
}




