page-search {
    .title{
        color: #2F2E33;
    }

    ion-card{
        border-top: 1.5px solid #F8A055;
    }

    .title{
        color: #353C3F;
        font-size: 2em; 
    }

    .box{
        width: 23.5em; 
        height: 14.5em; 
        overflow: hidden;
    }
    .photo{
        width: 100%;
    }

    .sched{
        color: #1E1E20;
        margin: .5em;
    }

    .title-col{
        color: #F8A055;
    }

    .nav-title{
        color: white;
    }

    .search-icon{
        color: white;
    }

    .increment{
        display: none;
    }
}




