@import url('https://fonts.googleapis.com/css?family=Passion+One');

.kuyog-button{
    margin-bottom: .5em;
}


    .kuyog-title{
        color: whitesmoke;
        font-family: 'Passion One';
        font-size: 30px;
        position: absolute;
        z-index: 1;
    }

    .overlay{
            background: black; 
            opacity: .5;
            position: absolute;
            top: 10.4em;
            border-radius: .5px;
            z-index: 0;
    }

.ios{
    .kuyog-title{
    top: 5.2em;
    left: .6em;
    }

    .overlay{
        padding-right: 20.3em;
        padding-bottom: 3.6em;
    }
}

.md{
    .kuyog-title{
        top: 5.2em;
        left: .5em;
    }

    .overlay{
        padding-right: 20.55em;
        padding-bottom: 3.6em;
    }
}

.wp{
    .kuyog-title{
        top: 5.2em;
        left: .5em;
    }

    .overlay{
        padding-right: 20.89em;
        padding-bottom: 3.6em;
    }
}
