<ion-header>
    <ion-navbar color="tapok">
        <ion-title>{{ event.name }}</ion-title>
        <ion-buttons *ngIf="access == 'ok'" right large>
            <button *ngIf="tab=='attendees' || tab=='details'" class="button-header" (click)="popOver($event)" ion-button icon-only round clear>
                <ion-icon name="more"></ion-icon>
            </button>

            <button *ngIf="tab=='chat'" class="button-header" (click)="popoverChat($event)" ion-button icon-only>
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons left>
            <button (click)="dismiss()" ion-button icon-only clear>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content>  
    <ion-toolbar class="tabs">
        <ion-segment [(ngModel)]="tab">
            <ion-segment-button (click)="changeTab('details')" value="details">
                Details
            </ion-segment-button>
            <ion-segment-button *ngIf="access == 'ok'" (click)="changeTab('chat')" value="chat">
                Chat
            </ion-segment-button>
            <ion-segment-button (click)="changeTab('attendees')" value="attendees">
                Attendees
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div *ngIf="tab=='details' && event.photo!=''" class="box_content">
        <img *ngIf="event.photo!='null'" class="photo" src="{{ event.photo }}">
    </div>
    <ion-list class="content" no-lines text-wrap>
        <div *ngIf="tab=='details'">
            <ion-item *ngIf="event.photo==''"><br><br></ion-item>
            <ion-item-group *ngIf="event.description!=''">
                <ion-item-divider>Description</ion-item-divider>
                <ion-item>
                    {{ event.description }}
                </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="tab=='details'">
                <ion-item-divider><b>Schedule</b></ion-item-divider>
                <ion-item *ngIf="event.enddate==''&&event.endtime==''">
                    <ion-icon name="calendar" color="secondary"></ion-icon> <b>Date:</b> {{ event.date }} &nbsp;&nbsp;<ion-icon name = "time" color="danger"></ion-icon> <b>Time:</b> {{ event.time }}
                </ion-item>
                <ion-item *ngIf="event.enddate!=''&&event.endtime==''">   
                    <ion-icon name = "calendar" color="secondary"></ion-icon> <b>Date:</b> {{ event.date }} <b>-</b> {{ event.enddate }} &nbsp;<ion-icon name = "time" color="danger"></ion-icon><b>Time:</b> {{ event.time }}
                </ion-item>   
                <ion-item *ngIf="event.enddate==''&&event.endtime!=''">
                    <ion-icon name="calendar" color="secondary"></ion-icon> <b>Date:</b> {{ event.date }} &nbsp;&nbsp;<ion-icon name = "time" color="danger"></ion-icon><b>Time:</b> {{ event.time }} <b>-</b> {{ event.endtime }}
                </ion-item>
                <ion-item *ngIf="event.enddate!=''&&event.endtime!=''">
                    <ion-icon name = "calendar" color="secondary"></ion-icon> <b>Date:</b> {{ event.date }} <b>-</b> {{ event.enddate }} &nbsp;&nbsp;<ion-icon name = "time" color="danger"></ion-icon><b>Time:</b> {{ event.time }} <b>-</b> {{ event.endtime }}
                </ion-item>       
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider><b>Venue</b></ion-item-divider>
                <ion-item>
                    <ion-icon name = "pin" color="primary"></ion-icon> <b>Location:</b><br> {{ event.venue }}
                </ion-item>
                <ion-item>
                    <ion-icon name = "map" color="primary"></ion-icon> <b>Map:</b>
                </ion-item>
            </ion-item-group>
        </div>
    </ion-list>
            <div *ngIf="event.latitude!=null && tab=='details'" #map id="map"></div>
            <div *ngIf="event.latitude!=null && tab=='attendees'" #map id="map_hide"></div>
            <div *ngIf="event.latitude!=null && tab=='chat'" #map id="map_hide"></div>
    
    <ion-list class="content" no-lines text-wrap>
        <div *ngIf="tab=='details'&&(event.tags == 'true'||event.max_members!=null||event.filter!=null)">  
            <ion-item-group>
                <ion-item-divider><b>Other Details</b></ion-item-divider>
                <ion-item *ngIf="event.tags == 'true'">
                    <ion-icon name = "pricetag" color="dark"></ion-icon>  <b>Tags:</b><br>
                        <span *ngFor="let tag of Tags | async">
                            <span *ngIf="tag.key == event.$key">
                                <ion-badge>{{ tag.tag }} </ion-badge>
                            </span>
                        </span>
                </ion-item>
                <ion-item *ngIf="event.max_members!=null">
                    <ion-icon name = "people" color="dark"></ion-icon> <b>Members:</b> {{ event.tapok }} of {{ event.max_members }}
                </ion-item>
                <ion-item *ngIf="event.max_members==null">
                    <ion-icon name = "people" color="dark"></ion-icon> <b>Members:</b> {{ event.tapok }}
                </ion-item>
                <ion-item *ngIf="event.filter!=null">
                    <ion-icon name = "funnel" color="dark"></ion-icon> <b>Classification:</b> {{ event.filter }}
                </ion-item> 
            </ion-item-group>
        </div>
    </ion-list>
    <ion-list class="content">
        <ion-item *ngIf="tab=='chat'" no-padding>
            <div class="message">
                <!--<button class="button-header" (click)="popoverChat($event)" ion-button icon-only>
                    <ion-icon name="settings"></ion-icon>
                </button>-->
                        
                <ion-list no-lines>
                    <ion-item *ngFor="let List of List | async" text-center>
                        <ion-grid style="margin-top:5em;" *ngIf="fontSize === 'default'" no-padding>
                            <ion-row *ngIf="List.uid === uid" text-wrap>
                                <ion-col>
                                            
                                </ion-col>
                                <ion-col text-wrap col-auto style="max-width:80%;">
                                    <ion-avatar float-right>
                                        <img class="icon_u" src="{{List.photo}}">
                                    </ion-avatar>
                                    <p style="text-align: right; font-size: .7em;"  id="sentByRight">{{List.sentBy}}</p>
                                        <div class="bubble-right" style="text-align:left;">
                                            {{List.message}}
                                        </div>
                                    <p style="text-align:left; color:black; font-size:.7em;">
                                        {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
                                    </p>
                                </ion-col>
                            </ion-row>
                            
                            <ion-row *ngIf="List.uid !== uid">
                                <ion-col text-wrap col-auto style="max-width:80%;">
                                    <ion-avatar float-left>
                                        <img class="icon_u" src="{{List.photo}}">
                                    </ion-avatar>
                                    <p style="text-align: left; font-size: .7em;" id="sentByLeft">{{List.sentBy}}</p>
                                    <div class="bubble-left" style="color: white; text-align:left;">
                                        {{List.message}}
                                    </div>
                                    <p style="text-align:right; color:black; font-size:.7em;">
                                        {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
                                    </p>
                                </ion-col>
                                <ion-col>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <!--END OF DEFAULT-->
                        <ion-grid style="margin:0;" *ngIf="fontSize === 'small'" no-padding>
                            <ion-row *ngIf="List.uid === uid" text-wrap>
                                <ion-col>
                                            
                                </ion-col>
                                <ion-col text-wrap col-auto style="max-width:80%;">
                                    <ion-avatar float-right>
                                        <img class="icon_u" src="{{List.photo}}">
                                    </ion-avatar>
                                    <p style="text-align: right; font-size: .4em;"  id="sentByRightSmall">{{List.sentBy}}</p>
                                    <div class="bubble-right-small" style="text-align:left;">
                                        {{List.message}}
                                    </div>
                                    <p style="text-align:left; color:black; font-size:.4em;">
                                        {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
                                    </p>
                                </ion-col>
                            </ion-row>
                            
                            <ion-row *ngIf="List.uid !== uid">
                                <ion-col text-wrap col-auto style="max-width:80%;">
                                    <ion-avatar float-left>
                                        <img class="icon_u" src="{{List.photo}}">
                                    </ion-avatar>
                                    <p style="text-align: left; font-size: .4em;" id="sentByLeftSmall">{{List.sentBy}}</p>
                                    <div class="bubble-left-small" style="color: white; text-align:left;">
                                        {{List.message}}
                                    </div>
                                    <p style="text-align:right; color:black; font-size:.4em;">
                                        {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
                                    </p>
                                </ion-col>
                                <ion-col>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <!--END OF SMALL-->
                        <ion-grid style="margin:0;" *ngIf="fontSize === 'large'" no-padding>
                            <ion-row *ngIf="List.uid === uid" text-wrap>
                                <ion-col>
                                            
                                </ion-col>
                                <ion-col text-wrap col-auto style="max-width:80%;">
                                    <ion-avatar float-right>
                                        <img class="icon_u-large" src="{{List.photo}}">
                                    </ion-avatar>
                                    <p style="text-align: right; font-size: 1em;"  id="sentByRightLarge">{{List.sentBy}}</p>
                                    <div class="bubble-right-large" style="text-align:left;">
                                        {{List.message}}
                                    </div>
                                    <p style="text-align:left; color:black; font-size:1em;">
                                        {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
                                    </p>
                                </ion-col>
                            </ion-row>
                            
                            <ion-row *ngIf="List.uid !== uid">
                                <ion-col text-wrap col-auto style="max-width:80%;">
                                    <ion-avatar float-left>
                                        <img class="icon_u-large" src="{{List.photo}}">
                                    </ion-avatar>
                                    <p style="text-align: left; font-size: 1em;" id="sentByLeftLarge">{{List.sentBy}}</p>
                                    <div class="bubble-left-large" style="color: white; text-align:left;">
                                        {{List.message}}
                                    </div>
                                    <p style="text-align:right; color:black; font-size:1em;">
                                        {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
                                    </p>
                                </ion-col>
                                <ion-col>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <!--END OF LARGE-->
                    </ion-item>
                </ion-list>
            </div>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="tab=='attendees'">
        <br><br>
        <ion-item-group>
            <ion-item-divider>Administrators</ion-item-divider>
            <ion-item>
                {{ mainAdmin }}
                <ion-badge item-end color="primary">
                    Host
                    <ion-icon name="person"></ion-icon>
                </ion-badge>
            </ion-item>
            <ion-item-sliding *ngFor="let admin of Admins | async">
                <ion-item>
                    {{ admin.name }}
                    <button *ngIf="user==mainAdmin" item-end ion-button icon-only round clear>
                        <ion-icon name="arrow-back"></ion-icon>
                    </button>
                </ion-item>
                <ion-item-options side="right">
                    <button *ngIf="user==mainAdmin" (click)="removeAdmin(admin)" color="dark" ion-button>
                        <ion-icon name="close"></ion-icon>
                        Admin
                    </button>
                    <button *ngIf="user==mainAdmin" (click)="removeAdminMember(admin)" color="danger" ion-button> 
                        Kick
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider>Members</ion-item-divider>
            <ion-item-sliding *ngFor="let member of Members | async">
                <ion-item>
                    {{ member.name }}
                    <button *ngIf="user==mainAdmin || adminCheck" item-end ion-button icon-only round clear>
                        <ion-icon name="arrow-back"></ion-icon>
                    </button>
                </ion-item>
                <ion-item-options side="right">
                    <button *ngIf="user==mainAdmin" (click)="addAdmin(member)" color="secondary" ion-button>
                        <ion-icon name="add"></ion-icon> 
                        Admin
                    </button>
                    <button *ngIf="user==mainAdmin || adminCheck" (click)="removeMember(member)" color="danger" ion-button>
                        Kick
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>
</ion-content>

<ion-footer *ngIf="tab=='attendees' || tab=='details'">
    <ion-row>
        <ion-col *ngIf="type=='JOIN'">
            <button class="notjoined" (click)="confirm(event, status[i])" ion-button icon-left full>
                <ion-icon name="happy"></ion-icon>
                JOIN
            </button>
        </ion-col>
        <ion-col *ngIf="type=='JOINED'">
            <button class="notjoined" (click)="confirm(event, status[i])" ion-button icon-left full>
                <ion-icon name="happy"></ion-icon>
                JOINED
            </button>
        </ion-col>
        <ion-col col-4>
            <button  (click)=sharePopover(event) class="share" ion-button icon-left outline>
                <ion-icon name="share"></ion-icon>
                <div>Share</div>
            </button> 
        </ion-col>
    </ion-row>
</ion-footer>

<ion-footer *ngIf="tab=='chat'">
        <ion-toolbar>
            <ion-item>
                <div item-content style="width:100%;">
                    <ion-textarea placeholder="Type message here..." [(ngModel)]="Message" autofocus></ion-textarea>
                </div>
            </ion-item>
                    
            <ion-buttons right clear x-large style="width:13%;" *ngIf="Message == ''">
                <button clear ion-button>
                    <ion-icon name="send" clear style="font-size:xx-large; color:lightgrey;"></ion-icon>
                </button>
            </ion-buttons>
                    
            <ion-buttons right clear x-large style="width:13%;" *ngIf="Message !== ''">
                <button (click)="sendMessage()" clear ion-button>
                    <ion-icon name="send" clear style="font-size:xx-large;"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>