tapok-content{
    .button-header{
        margin-right: 1em;
    }
    .tapok-button{
        margin-bottom: .5em;
    }

    .row-status{
        background-color: #FCFCFC;
    }

    .box{
        height: 32vh !important;
        width: auto !important;
        align-items: center;
        overflow: hidden;
    }
    .photo{
        width: 100%;
    }
}


