<ion-header>
    <ion-navbar>
        <ion-segment [(ngModel)]="tabs">
            <ion-segment-button value="info">
                Info
            </ion-segment-button> 
            <ion-segment-button value="chat">
                Chat 
            </ion-segment-button> 
        </ion-segment>
        <!--<ion-buttons right large>
            <button class="button-header" (click)="editTapok()" ion-button icon-only round>
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right large>
            <button class="button-header" (click)="deleteTapok()" ion-button icon-only round>
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>-->
        <ion-buttons right large>
            <button class="button-header" (click)="popOver($event)" ion-button icon-only round>
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="tabs">
        <div *ngSwitchCase="'info'" text-center>
                <ion-row *ngIf="event.photo != ''">
                    <ion-col (click)="viewPic(event.photo)">
                        <!--<ion-col (click)="toggle(event.$key, event.toggle)">
                            <div *ngIf="event.toggle == 'false'">
                                see photo
                            </div>
                        <div *ngIf="event.toggle == 'true'">-->
                            
                        <div class="box">
                            <img class="photo" src="{{ event.photo }}">
                        </div>    
                        <!--<br>hide photo
                            </div>-->
                    </ion-col>
                </ion-row>      
                
                <ion-row>
                    <ion-col>
                        <div class="title"><h1><b><hr>{{ event.name }}<hr></b></h1></div>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                    <ion-col>
                        <span *ngIf="event.enddate==''">
                            <ion-chip>
                                <ion-icon name = "calendar" color="secondary"></ion-icon>
                            </ion-chip><span class="chip-label-date">{{ event.date }}</span>
                        </span>
                            
                        <span *ngIf="event.enddate!=''">
                            <ion-chip>   
                                <ion-icon name = "calendar" color="secondary"></ion-icon>                     
                            </ion-chip><span class="chip-label-date">{{ event.date }}  <b>-</b> {{ event.enddate }}</span>
                        </span>   
                            
                        <span *ngIf="event.endtime==''">
                            <ion-chip>
                                <ion-icon name = "time" color="danger"></ion-icon>                    
                            </ion-chip><span class="chip-label">{{ event.time }}</span>
                        </span>

                        <span *ngIf="event.endtime!=''">
                            <ion-chip>   
                                <ion-icon name = "time" color="danger"></ion-icon>                      
                            </ion-chip><span class="chip-label">{{ event.time }}  <b>-</b> {{ event.endtime }}</span>
                        </span>
                            
                        <br>
                            
                        <ion-chip>
                            <ion-icon name = "pin"></ion-icon>                    
                        </ion-chip><span class="chip-label">{{ event.venue }}</span>
                            
                        <br>
                            
                        <button (click)="confirm(event, status)" ion-button icon-left outline small>
                            <div *ngIf="event.tapok > 1">{{ event.tapok }} Attendees</div>
                            <div *ngIf="event.tapok == 1">{{ event.tapok }} Attendee</div>
                            <div *ngIf="event.tapok == 0">No Attendees</div>
                        </button>
                    </ion-col> 
                </ion-row>
                
                <ion-row>
                    <ion-col>
                        <button (click)="confirm(event, status)" ion-button icon-left round clear>
                            <ion-icon name="happy"></ion-icon>
                            <div *ngIf="status == 'TAPOK'">
                                Join
                            </div>
                            <div *ngIf="status == 'JOINED'">
                                Leave
                            </div>
                        </button> 
                    </ion-col>
                        
                    <ion-col>
                        <button ion-button icon-left round clear>
                            <ion-icon name="share"></ion-icon>
                            <div class="share">Share</div>
                        </button>
                    </ion-col>
                </ion-row>

                <ion-row class="description" no-padding text-justify>
                    <ion-col>
                        <hr><b>Description:</b><br>{{ event.description }}<hr>
                    </ion-col>
                </ion-row>
        </div>
        
        <div *ngSwitchCase="'chat'">
            <div class="message">
                <ion-list no-lines>
                    <ion-item *ngFor="let List of List | async" text-center>
                        <ion-grid style="margin:0;">
                            <ion-row *ngIf="List.sentBy === user" text-wrap>
                                <ion-col></ion-col>
                                <ion-col text-wrap col-auto>
                                    <ion-avatar float-right>
                                        <img class="icon_u" src="assets/img/user.png">
                                    </ion-avatar>
                                    <p style="text-align: right; font-size: .7em;"  id="sentByRight">{{List.sentBy}}</p>
                                    <div class="bubble-right" style="text-align:right;">
                                        {{List.message}}
                                    </div>
                                    <p style="text-align:left; color:black; font-size:.7em;">
                                        {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
                                    </p>
                                </ion-col>
                            </ion-row>
                    
                            <ion-row *ngIf="List.sentBy !== user">
                                <ion-col text-wrap col-auto>
                                    <ion-avatar float-left>
                                        <img class="icon_u" src="assets/img/user.png">
                                    </ion-avatar>
                                    <p style="text-align: left; font-size: .7em;" id="sentByLeft">{{List.sentBy}}</p>
                                    <div class="bubble-left" style="color: white; text-align:left;">
                                        {{List.message}}
                                    </div>
                                    <p style="text-align:right; color:black; font-size:.7em;">
                                        {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
                                    </p>
                                </ion-col>
                                <ion-col></ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-list>
            </div>
                    
            <ion-footer class="chatPageFooter">
                <ion-toolbar>
                    <ion-item>
                        <div item-content style="width:100%;">
                            <ion-textarea placeholder="Type message here..." [(ngModel)]="Message" autofocus></ion-textarea>
                        </div>
                    </ion-item>
                    
                    <ion-buttons right clear x-large style="width:13%;" *ngIf="Message == ''">
                        <button clear ion-button>
                            <ion-icon name="send" clear style="font-size:xx-large; color:lightgrey;"></ion-icon>
                        </button>
                    </ion-buttons>
                    
                    <ion-buttons right clear x-large style="width:13%;" *ngIf="Message !== ''">
                        <button (click)="sendMessage()" clear ion-button>
                            <ion-icon name="send" clear style="font-size:xx-large;"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-footer>
        </div>
    </div>
</ion-content>