tapok-content{

    .button-header{
        margin-right: 1em;
    }
    .tapok-button{
        margin-bottom: .5em;
    }

    .row-status{
        background-color: #FCFCFC;
    }

    .box{
        margin-top: -4em;
        height: 32vh !important;
        width: auto !important;
        align-items: center;
        overflow: hidden;
    }
    .photo{
        width: 100%;
    }

    .sched{
        color: #1E1E20;
        margin: .5em;
    }

    .noaccess{
        display: block;
        margin-left: -2.5em;
    }

    /*.title{
        margin-bottom: -.7em;
        background-color: white;
        color: #2F2E33;
        font-size: 2.5em;
        position: fixed;
        z-index: 1;
    }*/

    .chip-label{
        margin-left: .2em;
    }

    .chip-label-date{
        margin-left: .2em;
        margin-right: 1em;
    }

    .details{
        margin-left: .5em;
        font-size: 15px;
    }

    .description{
        margin-left: 1em;
        margin-top: -4em;
    }

    #map {
        margin-top: -1.5em;
        width: 100%;
        height: 30%;
    }

    .detail_label{
        margin-top: 1em;
        color: gray;
        font-size: 1em;
    }

    .detail{
        margin-bottom: 1em;
    }

    .date-detail{
        margin-top: -4em;
        margin-bottom: 1em;
    }

    .isActive{
        color: #F8A055;
        border-bottom: 2px solid #F8A055;
    }

    .tab-bar{
        background-color: white;
        position: fixed;
        z-index: 1;
        border-top: .5px solid gray;
        border-bottom: .5px solid gray;
    }

    .tabs{
        position: fixed;
        z-index: 1;
    }

    .attendees{
        margin-top: -4em;
    }

    .tags{
        margin-top: -.5em;
    }

    .content{
        position: relative;
        z-index: 0;
    }
}


