tapok-content{

    .button-header{
        margin-right: 1em;
    }

    .tapok-button{
        margin-bottom: .5em;
    }

    .row-status{
        background-color: #FCFCFC;
    }

    .box{
        margin-top: -4em;
        height: 32vh !important;
        width: auto !important;
        align-items: center;
        overflow: hidden;
    }
    .photo{
        width: 100%;
    }

    .sched{
        color: #1E1E20;
        margin: .5em;
    }

    .noaccess{
        display: block;
        margin-left: -2.5em;
    }

    /*.title{
        margin-bottom: -.7em;
        background-color: white;
        color: #2F2E33;
        font-size: 2.5em;
        position: fixed;
        z-index: 1;
    }*/

    .chip-label{
        margin-left: .2em;
    }

    .chip-label-date{
        margin-left: .2em;
        margin-right: 1em;
    }

    .details{
        margin-left: .5em;
        font-size: 15px;
    }

    .description{
        margin-left: 1em;
        margin-top: -4em;
    }

    #map {
        margin-top: -1.5em;
        width: 100%;
        height: 30%;
    }

    .detail_label{
        margin-top: 1em;
        color: gray;
        font-size: 1em;
    }

    .detail{
        margin-bottom: 1em;
    }

    .date-detail{
        margin-top: -4em;
        margin-bottom: 1em;
    }

    .isActive{
        color: #F8A055;
        border-bottom: 2px solid #F8A055;
    }

    .tab-bar{
        background-color: white;
        position: fixed;
        z-index: 1;
        border-top: .5px solid gray;
        border-bottom: .5px solid gray;
    }

    .tabs{
        position: fixed;
        z-index: 1;
    }

    .attendees{
        margin-top: -4em;
    }

    .tags{
        margin-top: -.5em;
    }

    .bubble-left
    {
      background-color: orange;
      padding:.5em;
      border-radius: 1em;
      font-size: 1em;
      margin-left: 3em;
      //float: left;
    }
    
    
    .bubble-left p
    {
      color:white;
    }
    
    .bubble-right
    {
      background-color:#F0F0EF  ;
      padding:.5em;
      color: black;
      border-radius: 1em;
      font-size: 1em;
      margin-right: 3em;
      //float: right;
    }

    .bubble-left-small
    {
      background-color: orange;
      padding:.5em;
      border-radius: 1em;
      font-size: .7em;
      margin-left: 4em;
      //float: left;
    }
    
    
    .bubble-left-small p
    {
      color:white;
    }
    
    .bubble-right-small
    {
      background-color:#F0F0EF  ;
      padding:.5em;
      color: black;
      border-radius: 1em;
      font-size: .7em;
      margin-right: 4em;
      //float: right;
    }

    .bubble-left-large
    {
      background-color: orange;
      padding:.5em;
      border-radius: 1em;
      font-size: 1.3em;
      margin-left: 2.5em;
      //float: left;
    }
    
    
    .bubble-left-large p
    {
      color:white;
    }
    
    .bubble-right-large
    {
      background-color:#F0F0EF  ;
      padding:.5em;
      color: black;
      border-radius: 1em;
      font-size: 1.3em;
      margin-right: 2.5em;
      //float: right;
    }
    
    .icon_u
    {
      width:.1em;
      height:.1em;
      margin-top:.5em;
    }

    .icon_u-large
    {
      width:1em;
      height:1em;
      margin-top:2.5em;
    }
    
    #sentByLeft{
      margin-left: 5em;
    }
    
    #sentByRight{
      margin-right: 5em;
    }

    #sentByLeftSmall{
        margin-left: 3em;
      }
      
      #sentByRightSmall{
        margin-right: 3em;
      }

      #sentByLeftLarge{
        margin-left: 5em;
      }
      
      #sentByRightLarge{
        margin-right: 5em;
      }

    .message{
        overflow:scroll;
        margin-bottom: 18%;
    }
    
    .content{
        position: relative;
        z-index: 0;
    }
}


