<ion-header>
  <ion-toolbar>
      <ion-navbar>
      <ion-title>
        Chat
      </ion-title>
      <ion-buttons end>
          <button (click)="dismiss()" ion-button icon-only clear>
              <ion-icon name="close"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content class="chatPage">
  <div class="message">
    <ion-list no-lines>
      <ion-item *ngFor="let List of List | async" text-center>
        <ion-grid style="margin:0;">
        <ion-row *ngIf="List.sentBy === user" text-wrap>
          <ion-col></ion-col>
          <ion-col text-wrap style="width:55%;">
              <ion-avatar float-right>
                  <img class="icon_u" src="assets/img/user.png">
                </ion-avatar>
            <p style="text-align: right; font-size: .7em;"  id="sentByRight">{{List.sentBy}}</p>
            <div class="bubble-right" style="text-align:right;">
                {{List.message}}
            </div>
            <p style="text-align:left; color:black; font-size:.7em;">
              {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
            </p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="List.sentBy !== user">
          <ion-col text-wrap style="width:55%;">
            <ion-avatar float-left>
              <img class="icon_u" src="assets/img/user.png">
            </ion-avatar>
            <p style="text-align: left; font-size: .7em;" id="sentByLeft">{{List.sentBy}}</p>
            <div class="bubble-left" style="color: white; text-align:left;">
                {{List.message}}
            </div>
            <p style="text-align:right; color:black; font-size:.7em;">
                {{ List.timestamp | date:'MM/dd/yyyy h:mma' }}
              </p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="chatPageFooter">
    <ion-toolbar>
      <ion-item>
        <div item-content style="width:100%;">
          <ion-textarea placeholder="Type message here..." [(ngModel)]="Message" autofocus></ion-textarea>
        </div>
      </ion-item>
  
      <ion-buttons right clear x-large *ngIf="Message == ''">
        <button clear ion-button>
          <ion-icon name="send" clear style="font-size:x-large; color:lightgrey;"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons right clear x-large *ngIf="Message !== ''">
          <button (click)="sendMessage()" clear ion-button>
            <ion-icon name="send" clear style="font-size:x-large;"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-footer>
