page-google-autocomplete {
    #locationField {
        position: absolute;
        width: 190px;
        height: 25px;
        left: 108px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
    }

    #autocomplete {
        width: 100%;
    }
}
